body{
    background-color: rgb(212, 197, 197);
    margin: 0%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}
img{
    width:100px;
    height: 150px;
    border-radius: 10px;
}
header{
    width: 100%;
    height: 100px;
    background-color: white;
}